{% macro css_tag(path, media=None, secure=False, external=False) %}
    {% if not external %}
        <link rel="stylesheet" href="{{ css_url(path, secure=secure) }}"
            {% if media %}media="{{ media }}"{% endif %}>
    {% else %}
        <link rel="stylesheet" href="{{ path }}" {% if media %}media="{{ media }}"{% endif %}>
    {% endif %}
{% endmacro %}

{% macro js_tag(path, secure=False, external=False) %}
    {% if not external %}
        <script src="{{ js_url(path, secure=secure) }}"></script>
    {% else %}
        <script src="{{ path }}"></script>
    {% endif %}
{% endmacro %}

{% macro json_config_tag() %}
    <script>
        window.__jsonConfig = {{ json_config(varargs, kwargs) | tojson | safe }};
    </script>
{% endmacro %}

{% macro json_forms_tag() %}
    <script>
        window.__jsonForms = {{ varargs | tojson | safe }};
    </script>
{% endmacro %}

{% macro avatar_img(user, size='small', id=None, class=None, tooltip=False) %}
    <img src="{{ url }}" {% if id %}id="{{ id }}"{% endif %}
        class="img-rounded avatar avatar-{{ size }}{% if class %} {{ class }}{% endif %}"
        alt="{{ user.username }}">
{% endmacro %}
