{% import '_macros.html' as macros with context %}

{% set description = 'Watch the latest indie game videos, updated daily. Join the indie games community and promote your game on Join Indies!' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title_container %}
            <title>Bluenile app - {% block title %}{% endblock %}</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-title" content="Join Indies">
        {% block meta %}
            <meta name="description" content="{{ description }}">
        {% endblock %}
        <meta property="twitter:site" content="@JoinIndies">
        {% block twitter_card %}{% endblock %}
        <meta property="og:site_name" content="Join Indies">
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        {% block og %}{% endblock %}
        {% block og_description %}
            <meta property="og:description" content="{{ description }}">
        {% endblock %}
        {% include 'favicons.html' %}
        {% assets 'base-css' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.13.0/polyfill.min.js"/>-->
        {% assets 'base-js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
        {% endassets %}
        {% block head %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block body %}
            {% include 'header.html' %}
            <div id="content">
                {% block banner %}{% endblock %}
                {% block flash_messages %}
                    <div id="flash-messages" class="container">
                        {% include 'flash_messages.html' %}
                    </div>
                {% endblock %}
                {% block task_updater %}
                    {% if task_id %}
                        <div id="container" class="container">
                            <div class="progress_container">
                                <div class="current-task">
                                    <h4>{% if task_id %} Task ID: {{ task_id }} {% endif %}</h4>
                                </div>

                                <div class="status"></div>
                                {% if task_id %}
                                <div class="progress">
                                    <div class="bar"></div>
                                </div>
                                {% endif %}
                            </div>

                        </div>
                        <script type="text/javascript">
                          jQuery(document).ready(function() {
                           PollState('{{ task_id }}');
                          });
                        </script>
                    {% endif %}
                {% endblock %}
                {% block body_container %}
                    <div class="wrapper">
                        <div id="body-container" class="container container-full">
                            {% block body_content %}{% endblock %}
                        </div>
                        {% block footer %}{% endblock %}
                    </div>
                {% endblock %}
                {% block json_config %}
                    {{ macros.json_config_tag() }}
                {% endblock %}
                <div id="scotch-panel"></div>
            </div>
            {% include 'drawer_menu.html' %}
        {% endblock %}
    <div id="csrf-token" style="display:none;">{{ csrf_token() }}</div>
    </body>
</html>
