<div id="common-header-view-model" class="site-header navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="drawer-header">
                <button class="navbar-toggle drawer-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-brand">
                <a href="{{ url_for('main.index') }}">Home</a>
            </div>
        </div>
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.login', next=request.url) }}">Log In</a>
                </li>
                <!--<li>
                    <a href="{ { url_for('auth.signup') }}">Sign Up</a>
                </li>-->
            {% else %}
                <li>
                    <a href="{{ url_for('emails.mosaico_index') }}">Email Builder</a>
                </li>
                <li>
                    <a href="{{ url_for('stats.journey_view') }}">Journeys</a>
                </li>
                <li>
                    <a href="{{ url_for('stats.send_view') }}">Emails</a>
                </li>
                <li>
                    <a href="{{ url_for('data_builder.data_builder') }}">Data Builder</a>
                </li>
                <li>
                    <a href="{{ url_for('stats.data_manager') }}">Data Manager</a>
                </li>
                <li>
                    <a href="{{ url_for('data.data_pusher') }}">Data Push</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
