<div id="common-header-view-model" class="site-header navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ url_for('main.index') }}"><img width="140px" src="/img/bluenile_logo.png"/></a>
        </div>
        <ul id="main-menu" class="nav navbar-nav navbar-right">
            {% if not current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('auth.login', next=request.url) }}">Log In</a>
                </li>
                <!--<li>
                    <a href="{ { url_for('auth.signup') }}">Sign Up</a>
                </li>-->
            {% else %}
                <li>
                    <a href="{{ url_for('emails.mosaico_index') }}"><span style="color:#a0a0a5;font-size:18px;">Blue</span><span style="color:#1c4072;font-size:18px;">Email</span></a>
                </li>
                <li>
                    <a href="{{ url_for('stats.journey_view') }}"><span style="color:#a0a0a5;font-size:18px;">Blue</span><span style="color:#1c4072;font-size:18px;">Journeys</span></a>
                </li>
                <li>
                    <a href="{{ url_for('stats.report_view') }}"><span style="color:#a0a0a5;font-size:18px;">Blue</span><span style="color:#1c4072;font-size:18px;">Analytics</span></a>
                </li>
                <li>
                    <a href="{{ url_for('data_builder.data_builder') }}"><span style="color:#a0a0a5;font-size:18px;">Blue</span><span style="color:#1c4072;font-size:18px;">Segments</span></a>
                </li>
                <li>
                    <a href="{{ url_for('stats.data_manager') }}">Data Manager</a>
                </li>
                <li>
                    <a href="{{ url_for('data.data_pusher') }}">Data Push</a>
                </li>
                <li>
                    <a href="{{ url_for('task_admin.task_admin') }}"> Admin</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
