{% extends 'base.html' %}

{% block title %}Data Manager{% endblock %}

{% block head %}
{{ super() }}

{% assets "query-builder-css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

{% assets "query-builder-js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript">
        var g_csrf_token = '{{ csrf_token() }}';
        var g_rules = {{ data|tojson|safe }};
        var get_filters = function(model){
            filters_result = []
            for(table in model){
                for(column in model[table]){
                    column_obj = model[table][column]
                    filters_result.push({
                        id: column_obj.expression,
                        label: column_obj.label,
                        type: column_obj.type
                      })
                }
            }
            return filters_result;
        };

        var g_model = {{ model|tojson|safe }};
        var g_filters = get_filters(g_model);
    </script>

{% endblock %}

{% block banner %}
    <div class="banner banner-jumbotron banner-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-block">
                    <h1>&nbsp;</h1>
                    <h3>Transform and Enrich Your Data</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div id="queries">
            <!--<button id="btn-get-sql" class="btn btn-primary parse-sql">SQL statement</button>-->
            <button id="btn-get-query" class="btn btn-primary">Load Saved Query</button>
            <button id="btn-save-query" class="btn btn-primary">Save Query</button>
            <button id="btn-reset" class="btn btn-primary">Reset Defaults</button>
            <button id="btn-preview" class="btn btn-primary">Preview Results</button>
        </div>
        <div id="tables" class="collapse">
            {% for table in model %}
                    <label class="checkbox-inline col-sm-3"><input type="checkbox" id="{{table}}">{{table}}</label>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <h4>Filter your data</h4>
        <div class="col-md-12 col-lg-10 col-lg-offset-1">
            <div id="builder" class="query-builder form-inline"></div>
            <script type="text/javascript">
                $('#builder').queryBuilder({
                  plugins: ['bt-tooltip-errors'],
                  filters: g_filters,
                });
            </script>
        </div>
    </div>
    <div class="row">
        <h4>Data Preview</h4>
        <table id="preview-table"></table>
    </div>

<!-- Modal Dialog For Save Query -->
    <div class="modal fade" id="modalDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-saved  "></span> Save Query</h4>
                </div>
                <div class="modal-body" style="padding:25px 50px;">
                    <form role="form" id="save-query-form">
                        <div class="form-group">
                            <label for="query_name"><span class="glyphicon glyphicon-star"></span> Query Name</label>
                            <input type="text" class="form-control" id="query_name" placeholder="enter query name">
                        </div>
                        <button type="submit" id="submit-save-query" class="btn btn-success btn-block"><span class="glyphicon glyphicon-thumbs-up"></span> Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>

        </div>
    </div>

<!-- Modal Table For Load Query -->
    <div class="modal fade" id="modalTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 50px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4><span class="glyphicon glyphicon-menu-hamburger"></span> Saved Queries</h4>
                </div>
                <div class="modal-body">
                    <table id="saved-queries-table"></table>
                </div>
                <div class="modal-footer">
                    <button type="cancel" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row" align="right">
        <div id="gotopage" class="form-inline">
            <input id="page" class="form-control" style="width: 60px" type="number" value="1">
            <button id="page-button" class="btn btn-primary">Go to Page</button>
        </div>
    </div>
{% endblock %}
