{% extends 'base.html' %}

{% block title %}DevPage JointJS{% endblock %}

{% block head %}
{{ super() }}
{% assets 'devpage_joint-css' %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<style>
  .progress {
   width:50%;
   background:yellow;
  }
  .bar {
   height:15px;
   width:0%;
   background:tomato;
   text-align:right;
  }


</style>
{% endblock %}

{% block banner %}
<div class="banner banner-jumbotron banner-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <h1>&nbsp;</h1>
                <h1>Use custom html inside of blocks</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
<div id="container">
    <div class="progress_container">
        <div class="current-task">
            <h4>{% if task_id %} Task ID: {{ task_id }} {% endif %}</h4>
        </div>

        <div class="status"></div>
        {% if task_id %}
        <div class="progress">
            <div class="bar"></div>
        </div>
        {% endif %}
    </div>

</div>
{% if task_id %}
<script type="text/javascript">
  jQuery(document).ready(function() {

   // pole state of the current task
   var PollState = function(task_id) {
   $.ajax({
              url: 'http://localhost:5000/task_update' ,
              data: {"task_id": task_id},
              dataType: "json",
              contentType: "application/json",
    }).done(function(task){
     console.log(task);
     var finished = false;
     if (task.process_percent) {
      jQuery('.bar').css({'width': task.process_percent + '%'});
      jQuery('.bar').html(task.process_percent + '%')
     } else {
      jQuery('.status').html(task);
      if (task=='SUCCESS' || task == 'FAILURE')
        finished = true;
     };

     // create the infinite loop of Ajax calls to check the state
     // of the current task
     if (finished == false)
        PollState(task_id);
    });
   }

   PollState('{{ task_id }}');
  });

</script>
{% endif %}

{% endblock %}