{% extends 'base.html' %}

{% block title %}Send Analyzer{% endblock %}

{% block head %}
    {{ super() }}
    {% assets 'send-view-css' %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" >
    {% endassets %}
{% endblock %}

{% block banner %}
    <div class="banner banner-jumbotron banner-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-block">
                    <h1>&nbsp;</h1>
                    <h1>View Email Sends and their performance data.</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-12 center-block" id="c-side">
            <strong>Drill Down into any data (C SIDE)</strong>
            <div class="well" id="drill-down-well">
                <div id="drill-down-areaC" style="background-color: ghostwhite">
                    <div class="well form-well">
                        <label>Data:</label>
                        <select id="data-selection">
                            <option value="">--select an table--</option>
                            {% for table in tables %}
                                <option value="{{ table }}">{{ table }} </option>
                            {% endfor %}
                        </select>

                        <br/>
                        <label>Group Data By:</label>
                        <select id="data-grouping" disabled>
                            <option value="">-- select one --</option>
                        </select>
                        <label>and</label>
                        <select id="data-grouping2" disabled>
                            <option value="">-- optional --</option>
                        </select>
                    </div>

                    <div class="well form-well">
                        <label>Limit data by:</label>
                        <input type="button" value="add" name="add" id="limit-by-add" class="updateView btn btn-default btn-xs">

                        <div id="limit-by-items">
                            <div class="limit-by-item">
                                <select id="limit-by-field" disabled>
                                    <option value="">-- select one --</option>
                                </select>
                                <select id="limit-by-op" disabled>
                                    <option value="">-- select one --</option>
                                </select>
                                <label>Value:</label>
                                <input type="text" id="limit-by-val1" disabled/>
                                <input type="text" id="limit-by-val2" disabled hidden/>
                            </div>
                        </div>
                    </div>

                    <div class="well form-well">
                        <label>Calculate:</label>
                        <select id="aggregate-op">
                            <option value="count">Count</option>
                            <option value="average">Average</option>
                            <option value="max">Maximum</option>
                            <option value="min">Minimum</option>
                            <option value="sum">Sum</option>
                        </select>
                        <select id="aggregate-field" disabled>
                            <option value="">-- select one--</option>
                        </select>

                        <br/>
                        <label>Graph Type:</label>
                        <select id="graph-type" disabled>
                            <option value="">-- select one --</option>
                        </select>

                        <br/>
                        <input type="button" value="Update" name="update" id="drill-down-button" class="updateView btn btn-default">
                    </div>

                    <div class="well form-well">
                        <div id="drill-down-graph" style="background-color: ghostwhite"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 center-block" id="email-side">
            <strong>Drill Down into email data</strong>
            <div class="well" id="drill-down-well">
                <div id="drill-down-areaEMAIL" style="background-color: ghostwhite">
                    <div class="well form-well">
                        By Specific Send Job:
                        <select id="send-select">
                            <option value="">--select an send--</option>
                            <option value="">All Sends</option>
                            {% for send in sends_by_sendid %}
                                {% if send['num_sent'] > 0 %}
                                    <option value="{{ send['sendid'] }}">{{ send['email_name'] }} [{{ send['sendid'] }}] with {{ send['num_sent'] }} sent</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        By Email Name:
                        <select id="email-select">
                            <option value="">--select an emailname--</option>
                            {% for send in sends_by_emailname.items() %}
                                {% if send[1]['num_sent'] > 0 %}
                                    <option value="{{ send[1]['sendids'] }}">{{ send[0] }} with {{ send[1]['num_sendids'] }} send jobs and {{ send[1]['num_sent'] }} sent</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <br/>
                    <div class="well form-well" id="send-info"></div>

                    <div class="well form-well">
                        <label>Data:</label>
                        <select id="data-selection">
                            <option value="">--select an table--</option>
                            <option value="">--select an table--</option>
                            <option value="SendJob">Send Jobs</option>
                            <option value="EmlSend">Email Sends</option>
                            <option value="EmlOpen">Email Opens</option>
                            <option value="EmlClick">Email Clicks</option>
                        </select>

                        <br/>
                        <label>Group Data By:</label>
                        <select id="data-grouping" disabled>
                            <option value="">-- select one --</option>
                        </select>
                        <label>and</label>
                        <select id="data-grouping2" disabled>
                            <option value="">-- optional --</option>
                        </select>
                    </div>

                    <div class="well form-well">
                        <label>Limit data by:</label>
                        <input type="button" value="add" name="add" id="limit-by-add" class="updateView btn btn-default btn-xs">

                        <div id="limit-by-items">
                            <div class="limit-by-item">
                                <select id="limit-by-field" disabled>
                                    <option value="">-- select one --</option>
                                </select>
                                <select id="limit-by-op" disabled>
                                    <option value="">-- select one --</option>
                                </select>
                                <label>Value:</label>
                                <input type="text" id="limit-by-val1" disabled/>
                                <input type="text" id="limit-by-val2" disabled hidden/>
                            </div>
                        </div>
                    </div>

                    <div class="well form-well">
                        <label>Calculate:</label>
                        <select id="aggregate-op">
                            <option value="count">Count</option>
                            <option value="average">Average</option>
                            <option value="max">Maximum</option>
                            <option value="min">Minimum</option>
                            <option value="sum">Sum</option>
                        </select>
                        <select id="aggregate-field" disabled>
                            <option value="">-- select one--</option>
                        </select>

                        <br/>
                        <label>Graph Type:</label>
                        <select id="graph-type" disabled>
                            <option value="">-- select one --</option>
                        </select>

                        <br/>
                        <input type="button" value="Update" name="update" id="drill-down-button" class="updateView btn btn-default">
                    </div>

                    <div class="well form-well">
                        <div id="drill-down-graph" style="background-color: ghostwhite"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% assets "send-view-js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}