{% extends 'base_auth.html' %}

<script type="text/javascript">

{% block title %}Log In{% endblock %}

{% block body_content %}
      <div class="row">
          <div class="col-md-6 center-block">
              <h2>&nbsp;</h2>
              <h2 style="color:#1c4072">Welcome to the Bluenile Application</h2>
              <h2>You are logged in for account {{user.account}}</h2>
              <select class="selectpicker show-tick" id="option" data-width="auto" onchange="leaveChange()">
                  {% for x in session.accounts %}
                     <option value="{{ x }}" {% if x == session.user_params.account_name %} SELECTED {% endif %}>{{ x }}</option>
                  {% endfor %}
              </select>
              <script>
                  function leaveChange() {
                        new_account = document.getElementById("option").value
                        window.location.href = "/change-account/" + new_account;
                   }
              </script>
          </div>
      </div>
{% endblock %}
