.progress {
    width:50%;
    background:#d9edf7;
}
.bar {
    height:20px;
    width:0%;
    background:#5cb85c;
    border:#4cae4c;
    text-align:right;
}
.container-full {
    margin: 0 auto;
    width: 100%;
}