{% extends 'base.html' %}

{% block title %}Data{% endblock %}

{% block banner %}
    <div class="banner banner-jumbotron banner-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 center-block">
                    <h1>&nbsp;</h1>
                    <h1>Here you can push your data to Marketing Cloud</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-6 center-block">
            <div class="well form-well signup-info">
                <strong>You can sync the following saved queries:</strong>
            </div>
            <div class="well form-well">
                <ul>
                    {% for query_name in query_names %}
                        <li><a href="{{ url_for('data.sync_query_to_mc', query_name=query_name) }}">{{ query_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="well form-well">
                <ul>
                    <li><a href="{{ url_for('data.clr_ext_sync_flags', table='customer') }}">Clear Sync Flags on Customers</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
